* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
body{
    background:linear-gradient(red,blue,green);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,9,1) 16%, rgba(0,212,255,1) 100%);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(204,223,223,1) 0%, rgba(0,212,255,1) 100%);
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
h1 {
    margin: 20px 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
}
.gallery{
    display: grid;
    position: relative;
    margin: 7rem;
    padding: 3 rem;
    width: 900px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 40px;
}
.img{
    width: 100% ;
    height: 100% ;
}
.image{
    box-shadow: 10px 10px 15px black;
    filter:grayscale(100%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
.img :hover{
    transform: scale(1.03);
    transition: 0.6;
    filter:drop-shadow(0 0 10px #333);
    filter:grayscale(0%);


}